// contains variables


$color-brand: #352800;
$color-brand-secondary: rgb(255, 247, 228);
$color-brand-nav: rgba(255, 247, 228, 0.85);

$site-width: 75em;

$smallest-width: 320px;
$very-small-width: 375px;
$small-width: 425px;
$medium-width: 768px;
$large-width: 1024px;
$very-large-width: 1440px;