// contains variables


$color-brand: #312707;
$color-brand-secondary: #FFF9EC;

$site-width: 75em;

$smallest-width: 320px;
$very-small-width: 375px;
$small-width: 425px;
$medium-width: 768px;
$large-width: 1024px;
$very-large-width: 1440px;