@keyframes header-opac-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

@keyframes nav-slide-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}