// .head {
//     position: fixed;
//     width: 100%;
// }

.nav {
    position: fixed;
    width: 46%;
    margin-left: 50%;
    top: 35px;
    height: 3em;
}

.nav__list {
    list-style: none;
    height: 3em;
    display: flex;
}

.nav__item {
    padding: 0 2%;
    width: 20%;
}

.nav__link {
    position: absolute;
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans",
        sans-serif;
    font-weight: 800;
    padding: 1% 0;

    background-color: black;
    color: rgb(92, 166, 226);

    font-size: 1.3em;
    transform-origin: 50% 75%;
    transition: transform 0.1s ease-in-out, width 0.1s ease-in-out, border-radius 0.2s ease-in-out;
    width: 20%;

    &:hover {
        width: 17.5%;
        border-radius: 15px;
        font-style: italic;
        transform: translateX(7.5%);
    }
}