body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.section {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100%;
    z-index: 1;
}

.about-section {
    top: 0;
    left: 0;
    padding-top: 0;
    margin-top: 0;
    background-image: url("../../../mountain-background.png.jpg");
    background-size: cover;
    z-index: 4;
}

.about-section__container {
    top: 20%;   
    position: relative;
    // width handled by app.js
    height: 65%;
}

.about-section__para-container {
    position: relative;
    background-color: rgba(156, 156, 156, 0.35);
    width: 100%;
    height: 100%;
    padding: 4% 9% 5% 5%;
    border-radius: 15px;
    mix-blend-mode: difference;
}

.blendfix {
    position: relative;
}

@include laptop {
    .about-section__para-container {
        visibility: hidden;
    }
}

// .about-section {
//     top: 0;
//     left: 0;
//     padding-top: 0;
//     margin-top: 0;
//     background-image: url("../../../mountain-background.png.jpg");
//     background-size: cover;
// }

// .about-section__container {
//     position: relative;
//     // width handled by app.js
//     height: 21em;
// }

// .about-section__para-container {
//     position: relative;
//     background-color: rgba(156, 156, 156, 0.35);
//     width: 100%;
//     height: 100%;
//     padding: 4% 9% 5% 5%;
//     border-radius: 15px;
//     mix-blend-mode: difference;
//     visibility: hidden;
// }

// .blendfix {
//     position: relative;
// }





.skills-section {
    background: rgb(0, 224, 127);
    background: linear-gradient(180deg, rgba(0, 224, 127, 1) 0%, rgba(0, 42, 175, 1) 100%);
}

.portfolio-section {
    background: rgb(233, 223, 0);
    background: linear-gradient(180deg, rgba(233, 223, 0, 1) 0%, rgba(119, 201, 0, 1) 100%);
}

.blog-section {
    background: rgb(233, 0, 0);
    background: linear-gradient(180deg, rgba(233, 0, 0, 1) 0%, rgba(201, 0, 173, 1) 100%);
}

.contact-section {
    background: rgb(74, 0, 233);
    background: linear-gradient(180deg, rgba(74, 0, 233, 1) 0%, rgba(251, 115, 255, 1) 100%);
}