body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.section {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.about-section {
    background-image: url("../../../mountain-background.png.jpg");
    background-size: cover;
}

.about-section__container {
    position: absolute;
    display: block;
    visibility: hidden;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
}

.about-section__header {
    color: white;
    font-size: 3.5em;
    font-family: 'Abril Fatface';
}

.about-section__paragraph {
    display: none;
}

.about__image-container {
    display: none;
}

.skills-section {

    background: rgb(0, 224, 127);
    background: linear-gradient(180deg, rgba(0, 224, 127, 1) 0%, rgba(0, 42, 175, 1) 100%);
}

.portfolio-section {
    background: rgb(233, 223, 0);
    background: linear-gradient(180deg, rgba(233, 223, 0, 1) 0%, rgba(119, 201, 0, 1) 100%);
}

.blog-section {
    background: rgb(233, 0, 0);
    background: linear-gradient(180deg, rgba(233, 0, 0, 1) 0%, rgba(201, 0, 173, 1) 100%);
}

.contact-section {
    background: rgb(74, 0, 233);
    background: linear-gradient(180deg, rgba(74, 0, 233, 1) 0%, rgba(251, 115, 255, 1) 100%);
}