.grid {
    display: grid;
    background-color: blue;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.item1 {
    display: hidden;
}

.item1 img {
    max-width: 100%;
}

.item2 {
    display: hidden;
}

.item2 img {
    max-width: 100%;
}

.item3 {
    display: hidden;
    overflow: hidden;
}

.item3 img {
    max-width: 250%;
    max-height: 100%;
    filter: blur(10px);
    transform: scale(1.1);
}