* {
    margin: 0 0 0 0;
}

body {
    margin: 0 0 0 0;
    overflow-x: hidden;
    background-color: rgb(23, 61, 11);
    background-color: black;
    font-family: sans-serif;
    height: 300vh;
}

.main-block {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    /* border: solid red 2px;   */
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    z-index: 2;
}

.background-head {
    position: absolute;
    text-align: center;
    overflow-x: hidden;
    top: -17vh;
    left: 0vw;
    margin: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    /* border: solid white 2px; */
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 110.5%);
}

#background-image {
    position: relative;
    top: 0vh;
    max-width: 200vw;
    min-width: 100vw;
    height: 100%;
}

/* "Welcome to" */
.title-intro {
    position: absolute;
    /* background-color: rgb(255, 0, 0, 0.5); */
    font-family: 'Great Vibes', cursive, serif;
    color: white;
    text-align: center;
    width: 90vw;
    left: 4.95vw;
    font-size: 1.5em;
    top: 45vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9;
}

.title {
    line-height: 1.8em;
    /* background-color: rgb(0, 0, 255, 0.5); */
    font-family: 'Playfair Display SC', serif;
    color: white;
    text-align: center;
    width: 90vw;
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    left: 4.95vw;
    top: 50vh;
    font-size: 2.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9;
}

.selctor-tag {
    overflow: hidden;
}

#selector-tag-text {
    top: 64vh;
    right: 7vh;
    position: absolute;
    color: white;
    font-family: 'Yellowtail', cursive;
    font-size: 2.75em;
    transform: rotate(-9deg);
    z-index: -1;
}

.selector-border {
    position: absolute;
    top: 20vh;
    width: 100vw;
    height: 146vh;
    background-color: white;
    clip-path: polygon(0 54.5%, 100% 32.25%, 100% 69.75%, 0% 94.5%);
    z-index: 2;
}

.info-window {
    position: fixed;
    top: 0vh;
    left: 0vw;
    margin: 10vh 15vw 6vh 15vw;
    width: 70vw;
    height: 80vh;
    background-color: rgb(16, 51, 16);
    z-index: 10;
    display: none;
    border: 20px solid rgb(39, 75, 22);
}


/* MENU */
.selector-block {
    position: relative;
    overflow: hidden;
    top: -32.5vh;
    background-color: white;
    gap: 5px;
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    clip-path: polygon(0 36%, 100% 0, 100% 60%, 0% 100%);
    z-index: 3;
}

#select-oak {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: rgb(94, 80, 21);
    top: 21.5%;
    width: 100%;
    height: 200%;
}

#select-oak img {
    position: relative;
    left: -10vw;
    transform: scale(1.06);
    filter: blur(5px) brightness(30%);
}

#select-oak img:hover {
    filter: blur(2px) brightness(55%);
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}

#inner-oak {
    transform: rotate(-10deg);
    font-family: "Raleway", serif;
    font-style: italic;
    font-size: 6em;
    color: rgb(253, 249, 244);
    position: absolute;
    top: 35vh;
    left: 6vw;
    z-index: 10;
}

#select-redwood {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgb(151, 21, 21);
    top: 12vh;
    width: 100%;
    height: 200%;
}

#select-redwood img {
    position: relative;
    left: -10vw;
    transform: scale(1.1);
    filter: blur(5px) brightness(50%);
}

#select-redwood img:hover {
    filter: none;
    transform: scale(1.15);
    transition: all ease-in-out 0.4s;
}

#select-birch {
    background-image: url("resources/birch.jpg");
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: green;
    top: 2vh;
    width: 100%;
    height: 200%;
}

#select-birch img {
    position: relative;
    left: -10vw;
    transform: scale(1.06);
    filter: blur(5px) brightness(50%);
}

#select-birch img:hover {
    filter: none;
    transform: scale(1.11);
    transition: all ease-in-out 0.4s;
}

#select-pine {
    background-image: url("resources/pine.jpg");
    position: relative;
    overflow: hidden;
    text-align: center;
    top: 0%;
    width: 100%;
    height: 200%;
}

#select-pine img {
    position: relative;
    left: -2vw;
    transform: scale(1.06);
    filter: blur(5px) brightness(50%);
}

#select-pine img:hover {
    filter: none;
    transform: scale(1.11);
    transition: all ease-in-out 0.4s;
}

#about-link {
    color: white;
    text-decoration: underline;
    position: fixed;
    z-index: 10;
    top: 2vh;
    left: 1.5vw;
    font-size: 2em;
    font-family: "Yellowtail", cursive, serif;
}

.main-content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 122vh;
    background-color: rgb(13, 58, 24);
}

#article {
    display: hidden;
    background-color: green;
}