#style-2 {

    .carousel {
        position: relative;
        height: 100%;

        overflow: hidden;

        .item {
            position: relative;
            display: block;
            height: 50px;
        }

        #home {
            background-color: blue;
        }

        #about {
            background-color: red;
        }

        #skills {
            background-color: green;
        }

        #projects {
            background-color: pink;
        }

        #contact {
            background-color: yellow;
        }

    }
}