body,
html {
    overflow: hidden;
}

.top-banner {
    position: relative;
    height: 30px;
    background-color: $color-brand-secondary;
    z-index: 10;
}

.top-banner__list {
    list-style: none;
    float: right;
}

.top-banner__item {
    font-family: 'Cabin',
        sans-serif;
    font-weight: 900;
    display: inline-block;
    padding: 7px 15px;
    color: $color-brand;
}


// Main nav menu
.nav {
    position: relative;
    height: 60px;
    background-color: $color-brand-nav;
    // background-color: rgb(255, 249, 236);
    z-index: 9;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.666);
}

// TODO: responsive nav
@include tablet() {
    .nav {
        position: relative;
        background-color: red;
    }
}

.nav__logo {
    float: left;
    padding: 2px 25px 0px 18px;
    line-height: 58px;
    font-family: 'Tangerine',
        cursive;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1px;
    color: $color-brand-secondary;
    background-color: $color-brand;
}

.nav__icons {
    float: right;
    font-size: 30px;
    padding: 12px 30px 10px 20px;
    color: $color-brand;
}

.nav__list {
    position: relative;
    height: 100%;
}

.nav__list-item {
    &:hover .nav__link {
        animation: 0.2s ease-in-out forwards fadeInTabHighlight;
    }

    &:hover .submenu {
        z-index: 4;
        display: block;
        animation: 0.2s ease-in-out fadeInSubmenu;
    }
}

// primary nav links
.nav__link {
    position: relative;
    float: left;
    text-transform: capitalize;
    font-family: 'Lora',
        serif;
    font-size: 20px;
    padding: 20px 25px 20px 25px;
    font-weight: 700;
    color: $color-brand;
}

.submenu {
    text-align: center;
    top: 60px;
    position: absolute;
    display: none;
    background-color: $color-brand-secondary;
    box-sizing: border-box;
    width: 100vw;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.666);
}

.submenu__container {
    display: inline-block;
    position: relative;
}

.section {
    text-align: left;
    float: left;
    padding: 45px 80px 40px 80px;
}

.section__title {
    text-align: left;
    display: inline-block;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Lora',
        serif;
    font-weight: 800;
}

.section__link {
    position: relative;
    text-align: left;
    width: 100%;
    color: rgb(0, 0, 0);
    opacity: 0.75;
    display: block;
    padding: 10px 0px;
    font-family: 'Cabin',
        sans-serif;
    font-size: 17px;
    border-radius: 4px;

    &:hover {
        opacity: 1;
        color: black;
        transition: 0.2s opacity ease-in-out;
        transition: 0.2s color ease-in-out;
    }
}

// ANIMATIONS

@keyframes fadeInSubmenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInTabHighlight {
    from {
        background-color: unset;
    }

    to {
        background-color: $color-brand-secondary;
        color: black;
    }
}